PROGRAM REQUIREMENTS

1. A list of different types of products that the company has for sale.
    - For each product type, we will need to know the product code (SKU number).
    - A description of the product.
    - Desired number of items that the company should have in its inventory for that type of product.

2. A list of locations where inventory items can be held.
    - These locations might be invidual shops, warehouses or storerooms.
    - A location might identify a particular shelf or aisle within a shop.
    - Need a location code and description identifying that location.

3. A list of inventory items that the company currently holds.
    - Each invenetory item has a product code and location code.

END USER REQUIREMENTS

- ADD a new item to the inventory
- REMOVE an item from the inventory
- GENERATE report of current inventory items
- GENERATE report of the inventory items that need to be re-ordered
- QUIT the programs


PROGRAM DESIGN

 - data storage
 - user interface
 - report generator


            ---- MAIN PROGRAM ----
           |          |           |
           |          |           |
           |          |           |
        report  -->  data   <--  User
       generator    Storage    Interface